<a class="a-text" href="{{link}}">
  <div class="well well-conversation">
    <div class="row">
      <div class="col-md-10">
				<h4 class="contact-name">{{name}}</h4>
      </div>
      <div class="col-md-2">
				<span class="badge">{{unreadMessages}}</span>
      </div>
    </div>
  </div>
</a>
