<div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
  <form {{action "login" on="submit"}}>
    <p class="error text-center">{{error}}</p>
    <div class="col-sm-4 col-sm-offset-4">
      <input type="image" alt="submit" src="/assets/images/btn_google_signin_light_normal_web.png"/>
    </div>
  </form>
</div>
