<nav class="navbar navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="#">Textto</a>
    </div>
    <a class="navbar-right navbar-text" {{action "logout"}}>Logout</a>
  </div>
</nav>
{{outlet}}
<hr class="footer-custom">
<div class="container">
  <p>© 2016 Hudson Clark Paulo Warren</p>
</div>
